.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    
}

.modal{

    padding: 30px;
    max-width: 400px;
    background-color: white;
    margin: 300px auto;
    
    



}

.loginModal{
    max-width: 400px;
    margin: 500px auto;
    padding: 50px;
    border: teal 4px solid;
    color: black;
    background-color: white;
    
}

.loginModal input{
    width: 100%;
    padding: 10px;
    border: teal solid 2px;
}

